@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg-primary: #B2387B;
  // --bg-light: blue;
  // --bg-dark: red;
  --color-bg-case: var(--bg-light);
}

.text-text {
  color: var(--color-text, var(--color-gray-800, #2d3748)) !important;
}

.text-white {
  color: var(--color-white, #fff) !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-case: var(--bg-dark);
  }
}

.case {
  background: var(--color-bg-case);
}

.theme-lf {
  --bg-light: #fff;
  --bg-dark: #fff;
  --color-bg-case: var(--bg-light); /* Light mode */
}

@media (prefers-color-scheme: dark) {
  .theme-lf {
    --color-bg-case: var(--bg-dark); /* Dark mode */
  }
}
